<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="cordova-sqlite-plugin"
    version="3.1.1">

    <name>Cordova SQLite Plugin</name>

    <license>MIT</license>

    <keywords>sqlite</keywords>

    <description>Low-level interface to SQLite</description>
    <author>Various</author>

    <engines>
        <engine name="cordova" version=">=6.0.0" />
        <engine name="cordova-android" version=">=5.0.0" />
        <engine name="cordova-ios" version=">=4.0.0" />
    </engines>

    <js-module src="www/sqlite.js" name="SQLite" />

    <!-- android -->
    <platform name="android">
        <!-- Cordova >= 3.0.0 -->
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="SQLitePlugin">
                <param name="android-package" value="io.sqlc.SQLitePlugin"/>
            </feature>
        </config-file>

        <source-file src="src/android/io/sqlc/SQLitePlugin.java" target-dir="src/io/sqlc"/>
        <source-file src="src/android/io/sqlc/SQLiteAndroidDatabase.java" target-dir="src/io/sqlc"/>
    </platform>

    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="SQLitePlugin">
                <param name="ios-package" value="SQLitePlugin" />
            </feature>
        </config-file>

        <!-- Note: the ios src is based off src/ios implicitly -->
        <header-file src="src/ios/SQLitePlugin.h" />
        <source-file src="src/ios/SQLitePlugin.m" />
        <framework src="libsqlite3.dylib" />
    </platform>

</plugin>

<!-- vim: set expandtab : -->
